body{
background-color: pink;
}

G{
    color : green;
}

Btn {
Color : red; font-size : 36px; border: 3px solid black; padding : 7px; margin-center : 2px;
Background-color : white; float : center;
}
ui li a { text-decoration : none;
}

h1{
    text-align: center; font-size: 62px; border: 5px; border-color: blueviolet; border-style: double; background-color : white;
}
