body{
Background-color: pink;
}

G{
    color : green;
}

Btn {
Color : red; font-size : 36px;
}

h1{
    text-align: center; font-size: 62px; border: 5px; border-color: blueviolet; border-style: double;
}
